/* darkstat 3
 *
 * style.css: CSS stylesheet for web interface.
 * copyright (c) 2006 Ben Stewart.
 * colors broken in 2007 by Emil Mikulic.
 * layout and colors fixed in 2021 by dr|z3d
 *
 * You may use, modify and redistribute this file under the terms of the
 * GNU General Public License version 2. (see COPYING.GPL)
 */

html {
  background: #000
}

body {
  z-index: 0;
  font-family: Open Sans, Ubuntu, Noto, Segoe UI, Arial, sans-serif;
  color: #aaa;
}
.content, #graphs {
  width: 100%;
  text-align: center;
}
.content {
  position: absolute;
  top: 15px;
  left: 0;
  z-index: 1;
}
.menu {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #711;
  border-bottom: 1px solid #311;
  font-size: 11px;
}
ul.menu {
  margin: 0;
  padding: 2px 0 3px 0;
  list-style: none;
  text-align: center;
}
ul.menu li {
  margin: 0;
  padding: 2px 0 3px 0;
  display: inline;
  border-right: 1px solid #311;
  list-style: none;
}
ul.menu li.label {
  padding-left: 10px;
  padding-right: 10px;
  color: #aaa;
}
ul.menu li a {
  color: white;
  text-decoration: none;
  border-bottom: none;
  padding: 2px 15px 3px 15px;
}
ul.menu li a:hover {
  background-color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #000000;
  font-weight: bold;
}
.pageheader {
  border-bottom: 2px dotted black;
}
table {
  margin: 5px auto;
  border-collapse: collapse;
}
td,
th {
  border: 1px solid #111;
  padding: 2px 6px;
}
td.num {
  text-align: right;
}
th {
  font-weight: bold;
}
th a {
  color: #fff;
  border-bottom: 1px dotted #fff;
}
tr:nth-child(odd) {
  background: #111;
}
tr:nth-child(even) {
  background: #222;
}
tr:hover {
  background: #000;
}
body,
td,
th,
p,
input,
textarea {
  font-size: small;
}
tt {
  font-family: DejaVu Mono, Lucida Console, Courier New, monospace;
  font-size: small;
}
a:hover {
  border-bottom: 1px dotted #666;
}
a {
  text-decoration: none;
  color: #fff;
}
.outergraph {
  margin: 5px 10px 0;
  padding: 5px;
  display: inline-block;
  border: 1px solid #333;
  background: #222;
}
.graph {
  padding: 5px;
  border: 1px solid #222;
  background: #131313;
}
.graphtitle {
  text-align: center;
  font-weight: bold;
}
.bar_in {
  background: #b50;
}
.bar_out {
  background: #911;
}
.graph .bar_in, .graph .bar_out {
  transform: translateX(5px);
}
#graph_reload,
#graph_autoreload {
  margin: 5px 5px 20px;
  padding: 4px 10px;
  min-width: 140px;
  display: inline-block;
  font-weight: 600;
  color: black;
  border: 1px solid #111;
  border-radius: 4px;
  background: #999;
}

#graph_reload:hover,
#graph_autoreload:hover {
  background: #9ab;
  color: black;
}
a[id$="reload"] {
  min-width: 140px;
}
.legend {
  padding: 4px;
  width: 322px !important;
  border: 1px solid #222;
  border-top: none;
  background: #111;
}

.legend table {
  margin: 2px auto;
  border: 0;
}
.legend tr {
  background: #111 !important;
}
.legend td {
  border: 0;
  padding: 0 0.2em 0 0.2em;
  font-size: 11px;
}
.legend td.dir {
  text-align: right;
}
.legend td.rate {
  text-align: right;
  white-space: nowrap;
}